.artistCol {
  background-color: blue;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 200px;
}
.artistPage{
  text-align: center;
}


////////HAMBURGER//////////

.glyphicon {
  font-size: 200px;
  color: purple;
}
.mobile {
 width: 10%;
 top: 0;
 float: right;
 margin: 0;
 margin-right: 50px;
}
.mobile div {
 display: none;
}
.mobile button {
 position: absolute;
 top: 15px;
 right: 15px;
 border: 0;
 left: 96%;
 text-indent: 200%;
 overflow: hidden;
 background: rgba(255, 255, 255, 0.8) url("http://i.imgur.com/vKRaKDX.png (563b)") center no-repeat;
 border: 1px solid #ddd;
 border-radius: 3px;
 background-size: 80%;
 width: 30px;
 height: 30px;
 outline: none;
 -webkit-transition: all 400ms ease;
 transition: all 400ms ease;
}
.mobile button.expanded {
 -webkit-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
         transform: rotate(90deg);
 background-color: transparent;
 border: 0;
}
.mobile a {
 display: block;
}
a {
 background: #eee;
 text-align: center;
 padding: 20px 0;
 border-bottom: 1px solid #ddd;
 text-decoration: none;
 color: #222;
 font-weight: bold;
}
a:hover,
a:active,
a:focus {
 background: #e7e7e7 ;
}
